body {
    padding-top: 70px;
    background-color: #C0DEED;
    background-image: url('../img/bg.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.navbar {
	background-color: white;
	opacity: 0.9;
}
.navbar-brand {
	font-size: 2em;
}

.info, .tweets-container {
	background-color: white;
	opacity: 0.75;
	border-radius: 5px;
}

h3 {
	margin-top: 10px;
}